body{
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
    margin-left: 600px;
    margin-right: 600px;
    border: 1px solid #000;
    margin-top: 200px;
    background-color: antiquewhite;
}

div#fonte ul {
    display: block;
    margin: 70px;
    font-size: 15pt;
    color: rgb(20, 18, 18);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ul#lista  :hover{
    background-color: bisque;
}